.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.loginBox {
  margin: 0 auto;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
